* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

li {list-style-type: none;}

a {text-decoration: none;}

h1 {font-size: 64px; letter-spacing: 1px; font-weight: 400;}
h2 {font-size: 56px; letter-spacing: 1px; font-weight: 400;}
h3 {font-size: 48px; font-weight: 400; margin: 0; padding: 0; letter-spacing: 1px;}
h4 {font-size: 40px;letter-spacing: 1px; font-weight: 400;}
h5 {font-size: 32px;letter-spacing: 1px; font-weight: 400;}
h6 {font-size: 24px;letter-spacing: 1px; font-weight: 400;}
p {font-size: 18px;font-weight: 400; margin: 0; padding: 0;letter-spacing: 1px;}



/* Body */
body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 1px;
}

/* Lines */
.line-orange {
    width: 100%;
    position: absolute;
    top: 400px;
    border-top: 2px solid #FF8400;
    z-index: -1;
}

/* Navbar */
.overlay {
    display: none;
}

.header__inside {
    margin: 25px 16.20% 0 16.61%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-left: 50px;
    display: inline-block;
    padding-bottom: 5px;
    text-align: center;
}

.nav__item_1 {
    border-bottom: 4px solid #ff0076;
    width: 117px;
}

.nav__item_2 {
    border-bottom: 4px solid #ff9300;
    width: 123px;
}

.nav__item_3 {
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    background-size: 100% 4px; 
    background-position: bottom; 
    background-repeat: no-repeat;
    width: 158px;
    padding-bottom: 9px;
}

/* Home */
.home {
    width: 1321px;
    margin: 48px 16.20% 0 15%;
    height: 437px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top, rgba(255,132,0,0.9) 0%, #FF8400 50%);
    box-shadow: -5px 1px 31px #FF8400;
}

.home__images, .home__words {
    width: 50%;  
}

.home__images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../img/Grid-Orange.png"), linear-gradient(to top,  rgba(255, 214, 0, 0.3) 30%, #FFD600 100%);
    border-radius: 40px 0 0 40px;
}

.home__words {
    border-radius: 0 40px 40px 0;
}

.home__words>hgroup {
    margin-left: 70px;
    margin-right: 70px;
}

.home__words h3 {
    font-weight: 700;
}

.home__words h3, .home__words p, .home__words span {
    color: #4003CA;
}

/* Our Plans */
.plans {
    display: flex;
    width: 1321px;
    margin: 79px 16.20% 0 15%;
    justify-content: space-between;
}

.plans__button1, .plans__button2 {
    width: 251px;
    height: 65px;
    margin-top: 87px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    bottom: 0;
}

.plans__button1 {
    background-color: black;
    border: 1px solid #FF0076;
}

.plans__button2 {
    background-color: #FF0076;
}



.plans>h1 {
    font-weight: 900;
    color: #FF8400;
}

.plans__inside {
    width: 251px;
    position: relative;
    min-height: 391px;
}

.plans__inside h1 {
    font-size: 96px;   
}

.plans__inside:last-child h1,.plans__inside:last-child h3 {
    color: #FF0076;
}

/* Information */
.information {
    margin: 38px 16.20% 0 15%;
    width: 1321px;
}

.information__type {
    display: none;
}

.information h3 {
    font-weight: 700;
    margin-bottom: 36px;
}

.information__inside {
    border-top: 1px solid rgba(255, 132, 0, 0.55);
    padding: 19px 0;
    display: flex;
    align-items: center;
}

.information__inside:last-child {
    border-bottom: 1px solid rgba(255, 132, 0, 0.55);
}

.information__inside h6 {
    min-width: 40%;
}

.information__inside span {
    min-width: 30%;
    text-align: center;
}

.check {
    color: #33FFD9; 
}

.check, .cross {
    font-size: 25px;
}

/* FAQ */
.faq {
    margin: 56px 0 0 15%;
}

.faq__top {
    display: flex;
}

.faq__top h1{
    min-width: 459px;
    width: 100%;
    color: #FF8401;
    font-weight: 700;
}

.line-darkOrange {
    border-top: 2px solid #FF8401;
    position: relative;
    width: 100%;
    margin-left: 2%;
    top: 35px;
}

.faq__inside {
    margin-top: 31px;
    display: flex;
    width: 1321px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.faq__singleContainer {
    width: 617px;
    height: 184px;
    margin-bottom: 68px;
}

.faq__singleContainer h5 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 21px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    margin-top: 96px;
    height: 338px;
    background-color: #4003CA;
    font-weight: 700;
}

.footer__left {
    background-color: #33FFD9;
    width: 830px;
    font-size: 16px;
}

.footer__right {
    background-color: #4003CA;
    width: 1090px;
}


/* Footer TextLeft */
.footer__textLeft {
    display: flex;
    margin: 65px 0 0 292px;
    width: 374px;
  
}

table {
    width: 100%;
    height: 100%;
}


td, td>h6, table span {
    padding: 5px 5px 5px 1px;
    color: #4003CA;
    font-weight: 900;
}

table span {
    font-weight: 700;
}

/* Footer TextRight */
.footer__textRight {
    position: relative;
    margin: 65px 0 0 288px;
    width: 530px;
    height: 200px;
}

.footer__textRight h6 {
    color: #33FFD9;
    width: 500px;
    font-weight: 900;
}

.we-icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media only screen and (max-width: 1620px) {

/* Navbar */
.header__inside {
    width: 990px;
}

/* Home */
.home {
    width: 1021px;
}

/* OurPlans */
.plans {
    width: 1021px;
}

/* Information*/
.information {
    width: 1021px;
}

/* FAQ */
.faq__inside {
    width: 1021px;
    min-height: 700px;
}

.faq__singleContainer  {
    width: 417px;
}

/* Footer */
.footer__left {
    width: 830px;
}

.footer__right {
    width: 1090px;
}

/* Footer TextLeft */
.footer__textLeft {
    margin-left: 200px;  
}

.footer__textRight {
    margin-left: 88px;
    width: 530px;
    height: 200px;
}
}

@media only screen and (max-width: 1366px) {

/* All */
.header__inside, .home, .plans, .information, .faq {
    margin-left: 10%;
}

/* Footer */
.footer__left {
    min-width: 430px;
    min-width: 450px;
}

.footer__right {
    min-width: 790px;
}

/* Footer TextLeft */
.footer__textLeft {
    margin-left: 60px;
}

.footer__textRight {
    margin-left: 60px;
    width: 300px;
}

.footer__textRight h6 {
    width: 300px;
}
}

@media only screen and (max-width: 1262px) {
    
/* Navbar */
.header__inside {
    width: 940px;
}

/* Home */
.home {
    width: 970px;
}

.home__words h3 {
    font-size: 45px;
}

/* OurPlans */
.plans {
    width: 970px;
}

/* Information*/
.information {
    width: 970px;
}

/* FAQ */
.faq__inside {
    width: 970px;
}
}

@media only screen and (max-width: 1110px) {

/* Navbar */
.header__inside {
    width: 600px;
}

/* Home */
.home {
    width: 700px;
}

/* OurPlans */
.plans {
    width: 700px;
}

.plans h1 {
    width: 250px;
}

.plans__inside, .plans__button1, .plans__button2 {
    width: 171px;
}

/* Information*/
.information {
    width: 700px;
}

/* FAQ */
.faq__inside {
    width: 700px;
}

.faq__singleContainer {
    width: 100%;
}

/* Footer */
.footer__right {
    min-width: 690px;
}

.footer__textRight {
    margin-left: 40px;
    width: 280px;
}
}

@media only screen and (max-width: 804px) {

/* Nav */
.header__inside {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    min-width: 329px;
    width: 55%;
    position: relative;
}

.nav__list {
    display: none;
}

.hamburger {
    cursor: pointer;
}

.hamburger__line1 {
    width: 68px;
    height: 10px;
    background-color: #FF0076;
}

.hamburger__line2 {
    width: 68px;
    height: 10px;
    background-color: #FF8400;
    margin-top: 8px;
}

.hamburger__line3 {
    width: 68px;
    height: 10px;
    background-image: linear-gradient(90deg,#4003ca 50%,#33ffd9 50%);
    margin-top: 8px;
}

.close-links {
    position: absolute;
    top: 2%;
    right: 3%;
    font-size: 50px;
    text-decoration: none;
    color: white;
    z-index: 100;
  }

.overlay {
    display: block;
    position: fixed;
    height: 0;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background-color: rgba(0, 0, 0, 0.96);
    transition: .5s;
    overflow: hidden;
}

.overlay-links {
    position: relative;
    top: 20%;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-links a {
    margin: 20px;
    font-size: 28px;
}

.nav__item_1, .nav__item_2, .nav__item_3 {
    width: 60%;
    text-align: center;
}

/* Home */
.home {
    flex-direction: column-reverse;
    justify-content: space-around;
    min-width: 329px;
    width: 55%;
    min-height: 745px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to top, #FF8400 0%, #FFD600 100%);
}

.home__images, .home__words {
    width: 100%;  
}

.home__images {
    border-radius: 0 0 40px 40px;
    max-height: 442px;
    background-image: url("../img/Grid-Orange.png"), linear-gradient(to top,  rgba(0, 0, 0, 0) 0%, #FFD600 100%);
}

.home__words>hgroup {
    margin: 25px 30px;
}

.home__words h3 {
    font-size: 48px;
}

.home__words span {
    display: inline-block;
}

.home__images {
    border-radius: 0 0 40px 40px;
    max-height: 442px;
}

/* OurPlans */
.plans {
    flex-direction: column;
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.plans>h1 {
    display: none;
}

.plans__inside {
    width: 100%;
    background-color: #17161E;
    box-shadow: -5px 1px 31px #FF0076;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 60px;
}

.plans__button1, .plans__button2 {
    width: 80%;
    bottom: 50px;
    font-size: 18px;
}

/* Information */
.information {
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.information h3 {
    font-size: 36px;
}

.information__type {
    display: flex;
    justify-content: flex-end;
}

.information__type p {
    width: 30%;
    text-align: center;
}

.information__inside>h6, .check, .cross {
    font-size: 18px;
}

/* FAQ */
.faq {
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.faq__top {
    width: 100%;
    word-wrap: normal;
    
}

.faq__top>h1 {
    font-size: 48px;
    word-break: keep-all;
    min-width: 0;
}

.faq__inside {
    min-width: 329px;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.faq__singleContainer {
    min-height: 230px;
    margin-top: 20px;
}

.faq__singleContainer:first-child {
    margin-bottom: 0;
}

.faq__singleContainer>h5 {
    font-size: 24px;
}

/* Footer */
footer {
    flex-direction: column;
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer__left, .footer__right {
    min-height: 306px;
    display: flex;
    justify-content: center;
    min-width: 329px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.footer__textLeft, .footer__textRight {
    margin: 20px auto;
}

.footer__textLeft {
    min-width: 329px;
}

.footer__textRight {
    min-width: 329px;
    display: flex;
    justify-content: center;
}

}
